---
layout: default
title: Adam Laycock
---

<div id="home">
  <div id="miniabout">
    <p><big>{{site.name}}</big></p>
  </div>
  <div id="grid">
    {% for post in site.posts %}
      <a class="posts" href="{{ post.url }}">
        <div class="header">
          <span class="date">{{ post.date | date_to_string }}</span>
          <h2>
            {% if post.categories contains 'projects' %}
              <span class="name">Project:
            {% endif %}
            {{ post.title }}
            {% if post.categories contains 'projects' %}
              </span>
            {% endif %}
          </h2>
        </div>
        <div class="body">
          <p>
            {{ post.excerpt | strip_html }}
          </p>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
