<section id="footer">
  <canvas id="footerCanvas"></canvas>
  <script src="/js/lightning.js"></script>
  <div class='footerContent'>
    <div class='centerer'>
      <h3 class='padLeft'>Adam Laycock</h3>
      <p class='padLeft'>I am Calgary born and raised software, web, and mobile application developer.</p>
      <ul class='social padLeft'>
        <li>
          <a href='https://github.com/alaycock'>
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href='https://stackoverflow.com/users/1769777/adam'>
            <i class="fa fa-stack-overflow"></i>
          </a>
        </li>
        <li>
          <a href='https://ca.linkedin.com/in/adam-laycock-059b4b56'>
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href='https://news.ycombinator.com/user?id=level'>
            <i class="fa fa-hacker-news"></i>
          </a>
        </li>
        <li>
          <a href='https://bughunter.withgoogle.com/profile/33907608-3a40-4567-bc1f-02105199f4f6'>
            <i class="fa fa-google"></i>
          </a>
        </li>
        <li>
          <a href='mailto:adam.laycock@gmail.com'>
            <i class="fa fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
