---
layout: default
title: Blog
---

<div id="home">
  <div id="miniabout">
    <p><big>{{page.title}}</big></p>
  </div>

  {% for post in site.posts %}
    {% if post.categories contains 'blog' %}
      <div class="posts" onclick="location.href='{{ post.url }}'" style="cursor: pointer;">
        <div class="header">
          <span class="date">{{ post.date | date_to_string }}</span>
          <h2>{{ post.title }}</h2>
        </div>
        <div class="body">
          <p>
            {{ post.excerpt | strip_html }}
          </p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
